body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  background: #d6ebf3;
  color: #1d3b53;
}

.container {
  width: 90%;
  margin: auto;
  padding: 30px 0;
}

h1 {
  text-align: center;
  font-size: 42px;
  margin-bottom: 30px;
  color: #447f98;
}

.section-title {
  margin-top: 50px;
  color: #447f98;
}

.form-card,
.match-box {
  background: rgba(255,255,255,0.6);
  backdrop-filter: blur(10px);
  padding: 25px;
  border-radius: 20px;
  margin-bottom: 30px;
  box-shadow: 0px 8px 20px rgba(0,0,0,0.08);
}

form {
  display: flex;
  flex-direction: column;
}

input,
textarea {
  padding: 14px;
  margin-top: 15px;
  border: none;
  border-radius: 12px;
  background: #eef7fb;
  font-size: 15px;
  outline: none;
}

textarea {
  height: 100px;
}

button {
  margin-top: 20px;
  padding: 14px;
  border: none;
  border-radius: 12px;
  background: #629bb5;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background: #447f98;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
}

.card {
  background: rgba(255,255,255,0.7);
  backdrop-filter: blur(10px);
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0px 8px 20px rgba(0,0,0,0.08);
  transition: 0.3s;
}

.card:hover {
  transform: translateY(-5px);
}

.card h3 {
  color: #447f98;
}

.matched-card {
  border-left: 8px solid #629bb5;
}